body {
    /* background: #a3d3ee ; */
    background:linear-gradient(to right,#87ceeb,#9400d3)
}
textarea {
    border: 2px solid black;
    color:darkolivegreen;
  
    /* background-color:#e9eba3; */
    background-color: powderblue;

    font-family:  "Courier New","Monaco", monospace;
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-style: italic;
  }
  img {
    border: 2px solid black;

  }