{% extends "layout.html" %}

{% block content %}
<!-- <h1> About  dato es {{dato}} </h1> -->
<div class="jumbotron"  >
    <h1 class="display-3">About  <i>{{aboutarg}}</i></h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <hr>
    <embed src="./assets/AboutJubi.pdf" type="application/pdf" width="640x" height="720x">
    <hr> 
    <p></p>    
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">return home</a>
    </p>
</div>
{% endblock %} 