{% extends "layout.html" %}

{% block content %}
<!-- <h1> About  dato es {{dato}} </h1> -->
<div class="jumbotron"  >
    <h1 class="display-3">About &nbsp;&nbsp;&nbsp;  <i>{{aboutarg}}</i></h1>
    <p class="lead">Motivación</p>

    <blockquote class="twitter-tweet">
        <p lang="es" dir="ltr">la jubilación no es una dádiva,
             es una deuda del Estado con los que trabajaron y le entregaron sus aportes.
             <a href="https://twitter.com/hashtag/NOalAchatamientoPrevisional?src=hash&amp;ref_src=twsrc%5Etfw">
                #NOalAchatamientoPrevisional</a>
            </p>&mdash; Pablo Balonga 🔬 💚 🧡 #StandWithUkraine #Peace (@tipstonga) 
            <a href="https://twitter.com/tipstonga/status/1219459524182073345?ref_src=twsrc%5Etfw">January 21, 2020</a>
            </blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <p>  &NonBreakingSpace;  </p>
    <p>El sistema jubilatorio ha sido tergiversado por los populismos y puesto en cuestión en el siglo XXI ante el <i>fin del trabajo</i></p>
    <p>Cabe entonces refrescar esta noción, mostrando su intrinseca independencia del Estado y el número de trabajadores,</p>
    <p>destacando la posibilidad de reproducir el ingreso laboral total o parcialmente post retiro sin mengua del capital. </p>
    <p>Mientras este continúa util para la producción social y disponible para eventuales necesidades críticas del ahorrista. </p> 
    <p>  &NonBreakingSpace;  </p>    
    <hr class="my-2">
    <p>Sobre el cálculo y sus parámetros</p>
    <p></p>
    <hr>
    <embed src="./assets/AboutJubi.pdf" type="application/pdf" width="640x" height="720x">
    <hr> 
    <p>Pablo E. Balonga, PhD</p>
    <p>Junio 2023</p>    
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">return home</a>
    </p>
</div>
{% endblock %} 