{% extends "layout.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-4">

      <form action="#" method="post">
        <p>Entrar Porcentaje Aportes:</p>
        <p><label>Minimo (Empleado + Patronal) : <input type="text" name="aporte" id="ap1"></label> {{ indexarg[0] }} </p>
        <p>Entrar Interes Anual sobre Aportes:</p>
        <p>Porcentaje&nbsp;&nbsp;&nbsp; : <input type="text" name="interes" id="ap2">  {{ indexarg[1] }}</p>
        <p>Entrar Aumento Periódico:</p>
        <p>Porcentaje : <input type="text" name="aumento" id="au1"></label> {{ indexarg[2] }}</p>
        <p>Cada cuantos meses : <input type="text" name="periodo" id="au1"></label> {{ indexarg[3] }}</p>
        <button type="submit" class="btn btn-primary">ENVIAR</button>
      </form>
    </div>

    <div class="col-8">
      <img src="./assets/figUno.png" fa-border="all">
    </div>


  </div>
</div>
 
<h3>
  <i>
    <center>
      <p>Aportes y Rentas </p>
      <p>indexarg es {{ indexarg }}</p>
    </center>
  </i>
</h3>


{% endblock %}