{% extends "layout.html" %}

{% block content %}
<p>  &NonBreakingSpace;  </p>
<div class="container">
  <div class="row">
    <div class="col-4">

      <form action="#" method="post">
        <p>Entrar Porcentaje Aportes:</p>
        <p>Minimo (Empleado + Patronal) : <input type="text" name="aporte" id="ap1" size="2"   value =  " {{  indexarg[0] }} "     > </p>
        <p>Entrar Interes Anual sobre Aportes:</p>
        <p>Porcentaje&nbsp;&nbsp;&nbsp; : <input type="text" name="interes" id="ap2" size="2" value=" {{ indexarg[1] }} "  > </p>
        <p>Entrar Aumento Periódico:</p>
        <p>Porcentaje : <input type="text" name="aumento" id="au1" size="2" value=" {{ indexarg[2] }} "  > </p>
        <p>Cada cuantos meses : <input type="text" name="periodo" id="au1" size="2" value=" {{ indexarg[3] }}"  ></p>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
    </div>

    <div class="col-8">
      <img src="./assets/figUno.png" fa-border="all">
    </div>


  </div>
</div>
 
<div>
  <i>
    <h3>
    <center>
      <p>  &NonBreakingSpace;  </p>
      <p>Con parametros {{ indexarg[0:4] }}</p>
      <p>  &NonBreakingSpace;  </p>
      <p>a los 30 años el aporte es de {{  indexarg[5] }} , el salario final es {{  indexarg[6] }} </p> 
      <p> </p>
      <p>y la renta final es {{ indexarg[7]  }}</p>
      <p>---</p>
      <p>  &NonBreakingSpace;  </p>
    </h3>
    <h5>
      <textarea id="t1" name="t1" rows="12" cols="100" readonly > {{ indexarg[4] }} </textarea>
    </center>
    </h5>
  </i>
  </h3>
</div>


{% endblock %}